body{
    background-color: rgba(40, 44, 52, 1);
}

header #title {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    font-size: 3em;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: rgba(30, 34, 40, 1);
    color: rgba(88, 36, 33, 0.863);
}

#play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#play-button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: white;
    background-color: rgba(88, 36, 33, 0.863);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#play-button a:hover {
    background-color: rgba(88, 36, 33, 1);
}

#game-rules, #scoring-system, #win-conditions {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(30, 34, 40, 1);
    border-radius: 10px;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#game-rules, #scoring-system, #win-conditions h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

#game-rules , #scoring-system, #win-conditions p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#game-rules , #scoring-system, #win-conditions ul {
    list-style-type: disc;
    padding-left: 20px;
}

#game-rules , #scoring-system, #win-conditions li {
    margin-bottom: 5px;
    font-size: 1.2em;
}